body{
 

}
*
{
	margin:0;
	padding:0;
}
.s1body
{
background-image:url(arkaplan.jpg);
height :100vh;
background-size: 100% 100%;
}
.s2body
{
background-color: grey;
height :100vh;
background-size: 100% 100%;
}
.s3body
{
background-color: aliceblue;
height :100vh;
background-size: 100% 100%;	
}
.ustbolum	/*üst div*/
{
opacity: 0.8;
width: 100%;
height: 100px;
background-color: #FFFF00;
}
.baslik	/*üst div baslik*/
{
font-family: Arial;
position: absolute;
top: 30px;
left: 550px;
}
.logo
{
	width: 50px;
	height: 80px;
	position: absolute;
	top: 10px;
	left: 20px;

}
.altbolum	/*alt div*/
{
opacity: 0.8;
width: 100%;
height: 100px;
background-color: #FFFF00;
position: absolute;
top:830px;
}

/*iphone*/
.iphone_yazi	/*div üstü baslik*/
{
font-family: Arial;
position: absolute;
top: 115px;
left: 670px;	
}
.iphone_arkaplan	/*iphone div*/
{
border-radius: 20px;
width: 730px;
height: 180px;
background-color: #ffa500;
position: absolute;
top: 150px;
margin-left:350px;
}

/*iphone 11*/
.img11 		/*resim*/
{
width: 130px;
height: 130px;	
position: absolute;
top:25px;
margin-left:20px;
}
.yazi11  	/*resim üst yazi*/
{
font-family:Times New Roman;
color: #696969;
margin-top: 5px;
margin-left:50px;
}
.fiyat11  	/*resim alt yazi*/	/*alttakilerdede sıra aynı bu şekilde*/
{
font-family:Times New Roman;
color: #696969;
margin-top: 135px;
margin-left:60px;
}

/*iphone 11 pro*/
.img11pro
{
width: 130px;
height: 130px;	
position: absolute;
top: 25px;
margin-left:290px;
}
.yazi11pro
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:310px;
}
.fiyat11pro
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:330px;
}

/*iphone 11 pro max*/
.img11promax
{
width: 130px;
height: 130px;	
position: absolute;
top: 25px;
margin-left:580px;
}
.yazi11promax
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:580px;
}
.fiyat11promax
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:620px;
}

/*samsung*/
.samsung_yazi
{
font-family: Arial;
position: absolute;
top: 340px;
left: 660px;	
}
.samsung_arkaplan
{
border-radius: 20px;
width: 730px;
height: 180px;
background-color: #ffa500;
position: absolute;
top: 375px;
margin-left:350px;
}

/*samsung a01*/
.imga01
{
width: 130px;
height: 130px;	
position: absolute;
top:25px;
margin-left:20px;
}
.yazia01
{
font-family:Times New Roman;
color: #696969;
margin-top: 5px;
margin-left:40px;
}
.fiyata01
{
font-family:Times New Roman;
color: #696969;
margin-top: 135px;
margin-left:70px;
}

/*samsung a10s*/
.imga10s
{
width: 130px;
height: 130px;	
position: absolute;
top: 25px;
margin-left:290px;
}
.yazia10s
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:305px;
}
.fiyata10s
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:335px;
}

/*samsung a20s*/
.imga20s
{
width: 130px;
height: 130px;	
position: absolute;
top: 25px;
margin-left:580px;
}
.yazia20s
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:595px;
}
.fiyata20s
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:620px;
}

/*xiaomi*/
.xiaomi_yazi
{
font-family: Arial;
position: absolute;
top: 565px;
left: 670px;	
}
.xiaomi_arkaplan
{
border-radius: 20px;
width: 730px;
height: 180px;
background-color: #ffa500;
position: absolute;
top: 600px;
margin-left:350px;
}

/*redmi 8a*/
.img8a
{
width: 130px;
height: 130px;	
position: absolute;
top:25px;
margin-left:20px;
}
.yazi8a
{
font-family:Times New Roman;
color: #696969;
margin-top: 5px;
margin-left:55px;
}
.fiyat8a
{
font-family:Times New Roman;
color: #696969;
margin-top: 135px;
margin-left:60px;
}

/*redmi note 8*/
.imgnote8
{
width: 130px;
height: 130px;	
position: absolute;
top: 25px;
margin-left:290px;
}
.yazinote8
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:310px;
}
.fiyatnote8
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:330px;
}

/*redmi note 8 pro*/
.imgnote8pro
{
width: 130px;
height: 130px;	
position: absolute;
top: 25px;
margin-left:580px;
}
.yazinote8pro
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:585px;
}
.fiyatnote8pro 
{
font-family:Times New Roman;
color: #696969;
margin-top: -20px;
margin-left:630px;
}

/*linkler*/
.alt_menu
{
list-style: none;
position: absolute;
top: 40px;
left: 340px;
}																																										

.alt_menu li 
{
float: left;
}

.alt_menu li a
{
color: black;
text-decoration: none;
margin: 80px;
padding: 10px 20px;
}

.alt_menu a:hover
{
background: #808080;
border-radius: 15px;
}

/*buton kayıt ol*/
.button {
	height: 40px;
	width: 140px;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 1150px;
}
.butonyazi
{
	text-decoration: none;
	color: black;
	font-size: 30px;
}
.button .outer {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 10px;
	background: rgba(0,0,0,0.65);
	border-radius: 14px;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-webkit-box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-moz-box-shadow: inset rgba(0,0,0,0.85) 0px 1px 5px;
	-webkit-transform: perspective(500px) rotateX(35deg);
	-moz-transform: perspective(500px) rotateX(35deg);
}
.button .outer .height {
	position: relative;
	height: 100%;
	margin-top: -15px;
	padding-bottom: 15px;
	background: #39a02d;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-webkit-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-moz-box-shadow: rgba(0,0,0,0.85) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 8px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}       
.button:hover .outer .height {
	margin-top: -10px;
	padding-bottom: 10px;
	background: #3aaf2d;
	box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
	-webkit-box-shadow: rgba(0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
	-moz-box-shadow: rgba( 0,0,0,0.25) 0px 1px 1px, inset rgba(0,0,0,0.35) 0px -2px 6px;
}
.button:active .outer .height {
	margin-top: 0px;
	padding-bottom: 0px;
}
.button .outer .height .inner {
	line-height: 2em;
	font-size: 20px;
	letter-spacing: .05em;
	position: relative;
	height: 100%;
	text-align: center;
	text-shadow: #8aff7b 0px 0px 1px;
	background: #44d135;
	background: -moz-linear-gradient(top, #80ec75 0%, #43d034 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#80ec75), color-stop(100%,#43d034)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #80ec75 0%,#43d034 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #80ec75 0%,#43d034 100%); /* W3C */
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-webkit-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-moz-box-shadow: inset rgba(255,255,255,0.85) 0px 0px 1px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
}
.button:hover .outer .height .inner{
	text-shadow: #99f48d 0px 0px 1px;
	background: #43d034; /* Old browsers */
	background: -moz-linear-gradient(top, #43d034 0%, #67e45c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43d034), color-stop(100%,#67e45c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #43d034 0%,#67e45c 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #43d034 0%,#67e45c 100%); /* W3C */
}
.button:active .outer .height .inner{
	text-shadow: #319926 0px 1px 0px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-webkit-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	-moz-box-shadow: inset rgba(0,0,0,0.9) 0px 0px 8px;
	background: #1d7d12; /* Old browsers */
	background: -moz-linear-gradient(top, #1d7d12 0%, #4fd342 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d7d12), color-stop(100%,#4fd342)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1d7d12 0%,#4fd342 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(top, #1d7d12 0%,#4fd342 100%); /* W3C */
}

																	/*SAYFA 2 CSS KODLARI*/

.s2baslik
{
    position: absolute;
    top: 10px;
    color: #fff;
	

}
.s2baslik:hover{
	color: #008000;
}
.kaydetdiv
{
	position: absolute;
	top: 0px;
	left: -80px;
}
.listelediv
{
	position: absolute;
	top: 0px;
	left: 50px;
}
.s3gecis_link
{
	text-decoration: none;
	color:black;
	font-size: 20px;
	position: absolute;
	top: 384px;
	left: 322px;
}


/*ortadaki büyük divin kodları*/
.box{
    position: relative;
    width: 700px;
    height: 500px;
    display: flex;
    position: absolute;
    top: 80px;
    left: 350px;
    justify-content: center;
    align-items: center;
    background: #060c21;
}

.box:before{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;

}

.box::after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter:blur(45px);
}

.box:before,
.box:after{
 background: linear-gradient(235deg,#89ff00,#060c21,#00bcd4);
}
/*------------------------------*/


									/*İNPUT CSS*/

#giris   /*id ile tanımladıgımız için # ile çağırdık*/
{
border:1px solid #ddd;
width:100px;
height: 28px;
background: white;
cursor: pointer;
position: absolute;
border: 2px solid #0000FF;
border-radius: 10px;
top: 380px;
left: 300px;
}
#ad
{
width:225px;
height: 25px;
border-radius: 5px;
font-size: 17px;
position: absolute;
box-shadow: 3px 3px 2px #0000FF, 0 0 25px #2A52BE, 0 0 5px #ADD8E6;
top: 90px;
left: 220px;
}

#adbaslik
{
color: #fff;
position: absolute;
top: 90px;
left: 160px;
}
#soyad
{
width:225px;
height: 25px;
border:2px solid yellow;
border-radius: 5px;
font-size: 17px;
position: absolute;
box-shadow: 3px 3px 2px #66FF00, 0 0 25px #03C03C, 0 0 5px #008000;
top: 140px;
left: 220px;
}
#soyadbaslik
{
color: #fff;
position: absolute;
top: 140px;
left: 160px;
}
#tel
{
width:225px;
height: 25px;
border:2px solid yellow;
border-radius: 5px;
font-size: 17px;
position: absolute;
box-shadow: 3px 3px 2px #FFFF00, 0 0 25px #DFFF00, 0 0 5px #FFDB58;
top: 190px;
left: 220px;
}
#telbaslik
{
color: #fff;
position: absolute;
top: 190px;
left: 160px;
}
#marka
{
	position: absolute;
	box-shadow: 3px 3px 2px #007FFF, 0 0 25px #08E8DE, 0 0 5px #30D5C8;
	top: 240px;
	left: 220px;
}
#markasec
{
	color: #fff;
position: absolute;
top: 240px;
left: 160px;
}
#model
{
	position: absolute;
	box-shadow: 3px 3px 2px #66FF00, 0 0 25px #03C03C, 0 0 5px #008000;
	top: 280px;
	left: 220px;
}
#modelsec
{
color: #fff;
position: absolute;
top: 280px;
left: 160px;
}
#fiyat
{
width:225px;
height: 25px;
border:2px solid green;
border-radius: 5px;
box-shadow: 3px 3px 2px #007FFF, 0 0 25px #08E8DE, 0 0 5px #30D5C8;
font-size: 17px;
position: absolute;
top: 320px;
left: 220px;
}
#fiyatgoster
{
color: #fff;
position: absolute;
top: 325px;
left: 160px;
}
#bos
{
	width: 400px;
	height: 400px;
	border:4px solid #ccc;
}








																		/*SAYFA 3 CSS KODLARI*/
*
{
	margin: 0;
	padding: 0;
}

.sildiv
{
	position: absolute;
	top: 50px;
	left: 335px;
}
#btnsil
{
border:1px solid #ddd;
width:100px;
height: 28px;
background: #8665f7;
cursor: pointer;
position: absolute;
border: 2px solid #0000FF;
border-radius: 10px;
top: 380px;
left: 300px;
}
.s3sil
{
	text-decoration: none;
	color: white;
	font-size: 20px;
	position: absolute;
	top: 384px;
	left: 325px;
}
.s3sil_yazi
{
	font-size: 20px;
	position: absolute;
	top: 432px;
	left: 555px;
}
.table-box {
	margin: 50px auto;
}
.table-row {
	display: table;
	width: 80%;
	margin: 10px auto;
	font-family: Arial, Helvetica, sans-serif;
	background: transparent;
	padding: 12px 0;
	color: #555;
	font-size: 13px;
	box-shadow: 0 1px 4px  0 rgba(0,0,50,0.3);
}
.table-cell {
	display: table-cell;
	width: 10%;
	text-align: center;
	padding: 4px 0;
	border-right: 1px solid #d6d4d4;
	vertical-align: middle;

}
.table-head {
	background: #8665f7;
	box-shadow: none;
	color: #fff;
	font-weight: 600;
}
.table-head .table-cell {
	border-right: none;

}
.last-cell {
	border-right: none;

}
.first-cell {
	text-align: left;
	padding-left: 10px;
}

